<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Login</title>

</head>
<body>

<form  method="post" th:action="@{atm/login}" id="form2" >
<label for="id">Enter the id:</label><br>
<input type="text" id="id" name="userId"><br><br>
    <label for="pass">Enter the password:</label><br>
    <input type="text" id="pass" name="password"><br><br>
</form>
<button type="submit" form="form2" value="Submit">login</button>
<br><br>

<a href="SignUp.html">Sign Up</a>

</body>
</html>